<div class="container content-sm">
  <div class="faq">
    <h2><i class="fa fa-question" aria-hidden="true" style="font-size:45px;"></i>常见问题</h2>
    <hr>
    <h4>Q1: TimeEx 是什么意思？</h4>
    <p> TimeEx 全称为 Time Exchange，即「时间交易所」的意思。</p>
    <p>当代社会的发展越来越快，知识的更新速度简直是日新月异，要跟上时代的步伐，我们必须要用先进的知识武装自己。但是知识太多，时间太少，我们需要快速地获得我们所需要的知识。TimeEx 正是提供优质的知识服务，大大缩短顾客的学习时间。</p>
    <p>换句话说，在 TimeEx，您可以购买到的是您的时间。</p>

    <h4>Q2: 为什么不可以购买？</h4>
    <p> 本网站是新生大学全栈营第一期线上班的编程比赛参赛作品，目前仅用于概念展示，暂不支持真实的支付购买。</p>

    <h4>Q3: 比赛结束之后，这个网站还会存在吗？</h4>
    <p>比赛结束之后，本网站会重新改版，以一个真实项目的新面貌重新上线，敬请期待。</p>

    <h4>Q4: 网站做得不错，如何为本网站投票？</h4>
    <p>感谢您的支持，投票请点击: <a href="https://fullstack.xinshengdaxue.com/works/234">投票网址</a>。</p>
  </div>

</div>
