<div class="container text-center">
  <h3>关于我们</h3>
  <p><em>全栈营第一期线上班学员</em></p>
  <p>本网站为全栈营第一期线上班编程大赛JDStore魔改作品。</p>
  <br>
  <div class="row">
    <div class="col-sm-6">
      <img src="http://okgqgpbx3.bkt.clouddn.com/blog/2017-02-21-touxiang-2017.jpeg" class="img-circle person" alt="an-lee">
      <h3><strong>李安</strong></h3>
      <p>全栈营线上班第一期学员</p>
      <p>新手大学成员</p>
      <p>建筑结构工程师</p>
      <p>Blog: <a href="http://an-lee.pro">an-lee.pro</a></p>
      <p>微信号: an-lee </p>
      <img src="http://okgqgpbx3.bkt.clouddn.com/blog/2017-02-21-qc-lian-2017.jpeg" class="qcode" alt="wechat_qcode">
      <p></p>
      <br>
    </div>
    <div class="col-sm-6">
      <img src="http://okgqgpbx3.bkt.clouddn.com/blog/2017-02-21-hanyanbo.jpg" class="img-circle person" alt="hanyanbo">
      <h3><strong>韩艳波</strong></h3>
      <p>全栈营线上班第一期学员</p>
      <p>新手大学成员</p>
      <p>建筑结构工程师</p>
      <br>
    </div>
  </div>
</div>
