<div class="container text-center content-sm">
  <h3>关于我们</h3>
  <p><em>全栈营第一期线上班学员</em></p>
  <p>本网站为全栈营第一期线上班编程大赛JDStore魔改作品。</p>
  <br>
  <div class="row team">
    <div class="col-sm-6 team1">
      <img src="http://okgqgpbx3.bkt.clouddn.com/blog/2017-02-21-touxiang-2017.jpeg" class="img-circle person" alt="an-lee">
      <h3><strong>李安</strong></h3>
      <p>全栈营线上班第一期学员</p>
      <p>新手大学成员</p>
      <p>建筑结构工程师</p>
      <p>Blog: <a href="http://an-lee.pro">an-lee.pro</a></p>
      <a href="#qcode-1" data-toggle="collapse">微信号: an-lee</a>
      <div id="qcode-1" class="collapse">
        <img src="http://okgqgpbx3.bkt.clouddn.com/blog/2017-02-21-qc-lian-2017.jpeg" class="qcode" alt="wechat_qcode">
      </div>
      <p></p>
      <br>
    </div>
    <div class="col-sm-6 team2">
      <img src="http://okgqgpbx3.bkt.clouddn.com/blog/2017-02-21-hanyanbo.jpg" class="img-circle person" alt="hanyanbo">
      <h3><strong>韩艳波</strong></h3>
      <p>全栈营线上班第一期学员</p>
      <p>新手大学成员</p>
      <p>建筑结构工程师</p>
      <p>Blog: <a href="http://meiputi-blog.logdown.com/">meiputi'blog</a></p>
      <a href="#qcode-2" data-toggle="collapse">微信号: putimei</a>
      <div id="qcode-2" class="collapse">
        <img src="http://okgqgpbx3.bkt.clouddn.com/blog/2017-02-21-qc-lian-2017.jpeg" class="qcode" alt="wechat_qcode">
      </div>
      <p></p>
      <br>
    </div>
  </div>
</div>
