
<!--========== FOOTER ==========-->
<footer class="footer">
    

    <!-- Copyright -->
    <div class="content container">
        <div class="row">
            <div class="col-xs-6">
              <h4><i class="glyphicon glyphicon-time", style="color: #17bed2;"></i>
              TimeEx</h4>
            </div>
            <div class="col-xs-6 text-right">
                <p class="margin-b-0">
                  <%= link_to root_path do %>
                    TimeEx
                  <% end %>
                  Design by:
                  <a href="http://an-lee.pro" data-toggle="tooltip" title="Visit an-lee's blog">an-lee</a> & <a href="http://meiputi-blog.logdown.com" data-toggle="tooltip" title="Visit meiputi's blog">meiputi</a></p>
            </div>
        </div>
        <!--// end row -->
    </div>
    <!-- End Copyright -->
</footer>
<!--========== END FOOTER ==========-->
<!-- Back To Top -->
<a href="javascript:void(0);" class="js-back-to-top back-to-top">Top</a>
